.footer-wrap{
    background-color: #24324a;
    color: #a9b4c7;
}
.footer-container{
    width: 80vw;
    margin: 0 auto;
}
.footer-inner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 0px 100px 0px;
    gap: 50px;
}
.footer-inner p{
    font-size: 15px;
    margin: 0;
}
.footer-logo{
    padding-bottom: 30px;
}
.footer-title{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8em;
    padding-bottom: 30px;
}
.footer-flex{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 15px;
}
.footer-flex img{
    width: 22px;
}
.footer-flex a{
    text-transform: lowercase;
    color: #a9b4c7;
    font-size: 15px;
}
.footer-flex a:hover{
    color: #fff;
}
.footer-link{
    color: #a9b4c7;
    text-transform: capitalize;
    line-height: 2.3;
}
.footer-link:hover{
    color: #fff;
}
.footer-link-flex{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-link-flex img{
    width: 22px;
}
.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}